<ul>
  <% @list.each do|bookmark| %>
    <li class='bookmark'>
      <%= bookmark.title %> - 
      <a href="<%= bookmark.url %>">
        <%= bookmark.url %>
      </a>
      <form action='/delete' method='POST'>
        <input type=hidden name="id" value="<%= bookmark.id %>"">
        <button type='submit'>Delete</button>
      </form>
      <form action='/update' method='GET'>
        <input type=hidden name="id" value="<%= bookmark.id %>"">
        <button type='submit'>Edit</button>
      </form>
    </li>
  <% end %>
</ul>
