<ul>
  <% @list.each do|bookmark| %>
    <li class='bookmark'>
      <%= bookmark.title %> - 
      <a href="<%= bookmark.url %>">
        <%= bookmark.url %>
      </a>
      <form action='/delete' method='POST'>
        <input type='hidden' name='_method' value='DELETE'/>
        <input type=hidden name="id" value="<%= bookmark.id %>"">
        <button type='submit'>Delete</button>
      </form>
      <form action='/update' method='GET'>
        <input type=hidden name="id" value="<%= bookmark.id %>"">
        <button type='submit'>Edit</button>
      </form>
      <form action='/comment' method='GET'>
        <input type=hidden name="bookmark_id" value="<%= bookmark.id %>"">
        <button type='submit'>Add comment</button>
      </form>
      <ul class='comments'>
        <% bookmark.comments.each do |comment| %>
          <li class='comment'>
            <%= comment.text %>
          </li>
          <% end %>
      </ul>
        
    </li>
  <% end %>
</ul>
